body{
    background-color: #a3c1d4;
    margin-left: 0;
    margin-right: 0;
}

.top{
    margin-left: 30%;
    margin-right: 30%;
}

.review{
    display: none;
    margin-left: 30%;
    margin-right: 30%;
}

.review.visible{
    display: block;
    margin-left: 30%;
    margin-right: 30%;
}

.media-container{
    padding: 20px;

    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-rows: 250px;
    gap: 20px;
}
.tile{
    background-color: #7999ad;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    transition: all 0.3s ease;
}

.subtile{
    display: flex;
    align-items: center;
    justify-content: center;
}

.notes{
    grid-column: 1 / 3;
    justify-content: left;
    padding: 10px;
}

.more{
    cursor: pointer;
    text-decoration: underline;
}

.more:hover{
    font-weight: bold;
}

.tile:not(.expanded) .subtile:not(:first-child) {
    display: none;
}

.tile:not(.expanded) .subtile:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.tile.expanded{
    grid-column: span 2;
    grid-row: span 2;
}

.album-cover{
    margin: 25px;
    width: 200px;
    height: 200px;
}

.other-cover{
    margin: 25px;
    height: 200px;
}